language: python
python:
  - "2.7"
  - "3.3"
services: postgresql
install:
    - pip install -r requirements.txt
    - pip install braintree coveralls mock mysqlclient
before_script:
  - psql -c "CREATE DATABASE hc;" -U postgres
env:
  - DB=postgres
addons:
  postgresql: "9.4"
script:
   - coverage run --omit=*/tests/* --source=hc manage.py test
after_success: coveralls
cache: pip
